<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add products</title>
</head>
<body>

<form th:action="saveProducts" th:object="${productsList}" method="get">
    <table id="myTable">
        <tbody>
        <tr><th>id</th><th>title</th><th>cost</th></tr>
        <tr th:each="Product, itemStat : *{productsList}">
            <td><input th:field="*{productsList[__${itemStat.index}__].id}" /></td>
            <td><input th:field="*{productsList[__${itemStat.index}__].title}" /></td>
            <td><input th:field="*{productsList[__${itemStat.index}__].cost}" /></td>
        </tr>
        </tbody>
    </table>

    <input type="submit" value="Submit" />
</form>
</body>
</html>